<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.eiaproject.mapper.assist.ProjectInfoScopeMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.eiaproject.domain.assist.ProjectInfoScope">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="filetypeCombine" jdbcType="INTEGER" property="filetypecombine" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, filetypeCombine
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from projectinfoscope
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from projectinfoscope
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoScope">
    insert into projectinfoscope (id, name, filetypeCombine
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{filetypecombine,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoScope">
    insert into projectinfoscope
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="filetypecombine != null">
        filetypeCombine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filetypecombine != null">
        #{filetypecombine,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoScope">
    update projectinfoscope
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filetypecombine != null">
        filetypeCombine = #{filetypecombine,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoScope">
    update projectinfoscope
    set name = #{name,jdbcType=VARCHAR},
      filetypeCombine = #{filetypecombine,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from projectinfoscope
  </select>
</mapper>