<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.eiaproject.mapper.assist.ProjectInfoFileTypeMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.eiaproject.domain.assist.ProjectInfoFileType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="filetypeCombine" jdbcType="INTEGER" property="filetypecombine" />
    <result column="shortName" jdbcType="VARCHAR" property="shortname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, filetypeCombine, shortName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ProjectInfoFileType
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ProjectInfoFileType
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoFileType">
    insert into ProjectInfoFileType (id, name, filetypeCombine, 
      shortName)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{filetypecombine,jdbcType=INTEGER}, 
      #{shortname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoFileType">
    insert into ProjectInfoFileType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="filetypecombine != null">
        filetypeCombine,
      </if>
      <if test="shortname != null">
        shortName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filetypecombine != null">
        #{filetypecombine,jdbcType=INTEGER},
      </if>
      <if test="shortname != null">
        #{shortname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoFileType">
    update ProjectInfoFileType
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filetypecombine != null">
        filetypeCombine = #{filetypecombine,jdbcType=INTEGER},
      </if>
      <if test="shortname != null">
        shortName = #{shortname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.eiaproject.domain.assist.ProjectInfoFileType">
    update ProjectInfoFileType
    set name = #{name,jdbcType=VARCHAR},
      filetypeCombine = #{filetypecombine,jdbcType=INTEGER},
      shortName = #{shortname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ProjectInfoFileType
  </select>
</mapper>