*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
  padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
}
.topmenu{
    width:100%;
    border: solid 6px rgba(144,144,144,.3);
    border-bottom: none;
    font-size: 14px;
    color: white;
    border-radius:4px;
    background-color:grey ;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
    height:40px;
    line-height: 32px;
}
.topmenu:hover,.firmmenu2 a:hover{
    opacity: 1;
}

.firmmenu{
    width:25%;
    position: fixed;
    height: 98%;
    border: solid 5px rgba(144,144,144,.3);
    border-radius:4px;
    font-size: 12px;
    color: black;
    float:left;
}
.firmmenu1{
    width: 99.8%;
    height:93%;
    overflow-x: scroll;
    overflow-y: scroll;
}
.firminfo{
    width:74%;
    margin-left: 26%;
}

.firmmenu2 a{
    background-image: url(../img/bg-lite.png);
    background-color:grey;
    opacity: 0.9;
    border-color:gray;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    margin-top: 5px;
    height:40px;
    line-height: 40px;
    border-radius: 10px 10px 2px 2px;
    text-align: center;

}
.firmmenu2{
    border-bottom: grey 2px solid;
    margin-bottom: 5px;
}
.firminfo_2{
    height: 520px;
    overflow-y:hidden
}
.firminfo_3{
    height: 550px;
    overflow-y:hidden
}
.span_search{
    cursor: pointer;
    display: inline-block;

}
.span_search:hover{
    color:#122b40;
    text-decoration: underline ;


}
.k{
display: none;
}
.risktable1{
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}
.risk_div{
    float: left;
    border: rgba(144,144,144,.8) 1px solid;
    font-size: 14px;
}
.risktable2{
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-align: right;
    font-size: 14px;
    color: white;

}
.risktable3{
    width: 100%;
    height: 312px;
    line-height: 312px;
    text-align: right;
    font-size: 14px;
    color: white;

}
.risktable4{
    width: 100%;
    height: 78px;
    line-height: 78px;
    text-align: right;
    font-size: 14px;
    color: white;
}
.risktable5{
    width: 100%;
    height: 260px;
    line-height: 260px;
    text-align: right;
    font-size: 14px;
    color: white;
}
.risktable6{
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: right;
    font-size: 14px;
    color: white;
}
.risktable7{
    height: 130px;
    line-height:130px;
}
.risktable td,.risktable th{
    border: rgba(144,144,144,.8) 1px solid;


}
.risktdcss{
    background-color: rgba(144,144,144,.6);
    color: white;
    font-size: 14px;
    text-align: right;
    height:60px;
    line-height: 60px;
}
.bg_risk{
    background-color: rgba(144,144,144,.6);
}
.td_risk{
    float: left; width: 100%; height: 26px; line-height: 26px;border-bottom: rgba(144,144,144,.8) 1px solid;
}
.specialtd{
    height: 52px;
    line-height: 52px;
}
.input_css{
  width:80%;
}
.undertake1,.undertake2{
    border: rgba(144,144,144,.8) 1px solid;
}
.undertake1{
    width: 30%;
}
.undertake2{
    width: 70%;
}
.textcss{
    text-align: left;
    color: black;
    font-size: 14px;
}
.divimg{
    width:114px;
    height: 130px;
    float: left;
 }
.imgcss{
    height: 104px;
    width: 104px;
}
.opinion_css,.opinion_css_vice{
    width:98%;
    margin: 15px auto;
    border:1px solid grey;
    vertical-align: middle;
}
.opinion_span{
    font-size: 14px;
    color: black;
    font-weight: bold;
    position: relative;
    left:20px;
    top:-10px;
    background-color: white;
}
.span_tips{
    margin-left: 1%;
    font-size: 14px;
    color:red;
}