<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.eiaproject.mapper.ApprovalTrialQualificationsMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.eiaproject.domain.ApprovalTrialQualifications">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="approvalUserId" jdbcType="INTEGER" property="approvaluserid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="qualificationNumber" jdbcType="INTEGER" property="qualificationnumber" />
    <result column="qualificationRemarks" jdbcType="VARCHAR" property="qualificationremarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, approvalUserId, createTime, qualificationNumber, qualificationRemarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from approvaltrialqualifications
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from approvaltrialqualifications
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.eiaproject.domain.ApprovalTrialQualifications">
    insert into approvaltrialqualifications (id, approvalUserId, createTime, 
      qualificationNumber, qualificationRemarks
      )
    values (#{id,jdbcType=INTEGER}, #{approvaluserid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{qualificationnumber,jdbcType=INTEGER}, #{qualificationremarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.eiaproject.domain.ApprovalTrialQualifications">
    insert into approvaltrialqualifications
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="approvaluserid != null">
        approvalUserId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="qualificationnumber != null">
        qualificationNumber,
      </if>
      <if test="qualificationremarks != null">
        qualificationRemarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="approvaluserid != null">
        #{approvaluserid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationnumber != null">
        #{qualificationnumber,jdbcType=INTEGER},
      </if>
      <if test="qualificationremarks != null">
        #{qualificationremarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.eiaproject.domain.ApprovalTrialQualifications">
    update approvaltrialqualifications
    <set>
      <if test="approvaluserid != null">
        approvalUserId = #{approvaluserid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationnumber != null">
        qualificationNumber = #{qualificationnumber,jdbcType=INTEGER},
      </if>
      <if test="qualificationremarks != null">
        qualificationRemarks = #{qualificationremarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.eiaproject.domain.ApprovalTrialQualifications">
    update approvaltrialqualifications
    set approvalUserId = #{approvaluserid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      qualificationNumber = #{qualificationnumber,jdbcType=INTEGER},
      qualificationRemarks = #{qualificationremarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>