<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.eiaproject.mapper.FinalTrialOpinionMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.eiaproject.domain.FinalTrialOpinion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectId" jdbcType="INTEGER" property="projectid" />
    <result column="finalOpinion" jdbcType="VARCHAR" property="finalopinion" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateOpinion" jdbcType="VARCHAR" property="updateopinion" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, projectId, finalOpinion, createTime, updateOpinion, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finaltrialopinion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finaltrialopinion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.eiaproject.domain.FinalTrialOpinion">
    insert into finaltrialopinion (id, projectId, finalOpinion, 
      createTime, updateOpinion, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{finalopinion,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateopinion,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.eiaproject.domain.FinalTrialOpinion">
    insert into finaltrialopinion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectid != null">
        projectId,
      </if>
      <if test="finalopinion != null">
        finalOpinion,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateopinion != null">
        updateOpinion,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="finalopinion != null">
        #{finalopinion,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateopinion != null">
        #{updateopinion,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.eiaproject.domain.FinalTrialOpinion">
    update finaltrialopinion
    <set>
      <if test="projectid != null">
        projectId = #{projectid,jdbcType=INTEGER},
      </if>
      <if test="finalopinion != null">
        finalOpinion = #{finalopinion,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateopinion != null">
        updateOpinion = #{updateopinion,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.eiaproject.domain.FinalTrialOpinion">
    update finaltrialopinion
    set projectId = #{projectid,jdbcType=INTEGER},
      finalOpinion = #{finalopinion,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateOpinion = #{updateopinion,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from finaltrialopinion
    where projectId = #{projectId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete from finaltrialopinion
    where projectId = #{projectId,jdbcType=INTEGER}
  </delete>
</mapper>