<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.eiaproject.mapper.ProjectWorkPlanMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.eiaproject.domain.ProjectWorkPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectId" jdbcType="INTEGER" property="projectid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="makePlanUserId" jdbcType="INTEGER" property="makeplanuserid" />
    <result column="workPlanTime" jdbcType="TIMESTAMP" property="workplantime" />
    <result column="workPlanContent" jdbcType="VARCHAR" property="workplancontent" />
    <result column="partyBperson" jdbcType="VARCHAR" property="partybperson" />
    <result column="responsibleParty" jdbcType="VARCHAR" property="responsibleparty" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="implementsPlanUserId" jdbcType="INTEGER" property="implementsplanuserid" />
    <result column="implementsPlanTime" jdbcType="TIMESTAMP" property="implementsplantime" />
    <result column="implementsRemarks" jdbcType="VARCHAR" property="implementsremarks" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, projectId, status, makePlanUserId, workPlanTime, workPlanContent, partyBperson, 
    responsibleParty, remarks, createTime, implementsPlanUserId, implementsPlanTime, 
    implementsRemarks, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from projectworkplan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from projectworkplan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.eiaproject.domain.ProjectWorkPlan">
    insert into projectworkplan (id, projectId, status, 
      makePlanUserId, workPlanTime, workPlanContent, 
      partyBperson, responsibleParty, remarks, 
      createTime, implementsPlanUserId, implementsPlanTime, 
      implementsRemarks, updateTime)
    values (#{id,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{makeplanuserid,jdbcType=INTEGER}, #{workplantime,jdbcType=TIMESTAMP}, #{workplancontent,jdbcType=VARCHAR}, 
      #{partybperson,jdbcType=VARCHAR}, #{responsibleparty,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{implementsplanuserid,jdbcType=INTEGER}, #{implementsplantime,jdbcType=TIMESTAMP}, 
      #{implementsremarks,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.eiaproject.domain.ProjectWorkPlan">
    insert into projectworkplan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectid != null">
        projectId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="makeplanuserid != null">
        makePlanUserId,
      </if>
      <if test="workplantime != null">
        workPlanTime,
      </if>
      <if test="workplancontent != null">
        workPlanContent,
      </if>
      <if test="partybperson != null">
        partyBperson,
      </if>
      <if test="responsibleparty != null">
        responsibleParty,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="implementsplanuserid != null">
        implementsPlanUserId,
      </if>
      <if test="implementsplantime != null">
        implementsPlanTime,
      </if>
      <if test="implementsremarks != null">
        implementsRemarks,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="makeplanuserid != null">
        #{makeplanuserid,jdbcType=INTEGER},
      </if>
      <if test="workplantime != null">
        #{workplantime,jdbcType=TIMESTAMP},
      </if>
      <if test="workplancontent != null">
        #{workplancontent,jdbcType=VARCHAR},
      </if>
      <if test="partybperson != null">
        #{partybperson,jdbcType=VARCHAR},
      </if>
      <if test="responsibleparty != null">
        #{responsibleparty,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="implementsplanuserid != null">
        #{implementsplanuserid,jdbcType=INTEGER},
      </if>
      <if test="implementsplantime != null">
        #{implementsplantime,jdbcType=TIMESTAMP},
      </if>
      <if test="implementsremarks != null">
        #{implementsremarks,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.eiaproject.domain.ProjectWorkPlan">
    update projectworkplan
    <set>
      <if test="projectid != null">
        projectId = #{projectid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="makeplanuserid != null">
        makePlanUserId = #{makeplanuserid,jdbcType=INTEGER},
      </if>
      <if test="workplantime != null">
        workPlanTime = #{workplantime,jdbcType=TIMESTAMP},
      </if>
      <if test="workplancontent != null">
        workPlanContent = #{workplancontent,jdbcType=VARCHAR},
      </if>
      <if test="partybperson != null">
        partyBperson = #{partybperson,jdbcType=VARCHAR},
      </if>
      <if test="responsibleparty != null">
        responsibleParty = #{responsibleparty,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="implementsplanuserid != null">
        implementsPlanUserId = #{implementsplanuserid,jdbcType=INTEGER},
      </if>
      <if test="implementsplantime != null">
        implementsPlanTime = #{implementsplantime,jdbcType=TIMESTAMP},
      </if>
      <if test="implementsremarks != null">
        implementsRemarks = #{implementsremarks,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.eiaproject.domain.ProjectWorkPlan">
    update projectworkplan
    set projectId = #{projectid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      makePlanUserId = #{makeplanuserid,jdbcType=INTEGER},
      workPlanTime = #{workplantime,jdbcType=TIMESTAMP},
      workPlanContent = #{workplancontent,jdbcType=VARCHAR},
      partyBperson = #{partybperson,jdbcType=VARCHAR},
      responsibleParty = #{responsibleparty,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      implementsPlanUserId = #{implementsplanuserid,jdbcType=INTEGER},
      implementsPlanTime = #{implementsplantime,jdbcType=TIMESTAMP},
      implementsRemarks = #{implementsremarks,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>