<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.eiaproject.mapper.ProjectDepartmentUndertakeMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.eiaproject.domain.ProjectDepartmentUndertake">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="undertakingUserId" jdbcType="INTEGER" property="undertakinguserid" />
    <result column="undertakingOpinions" jdbcType="VARCHAR" property="undertakingopinions" />
    <result column="undertakingSituation" jdbcType="INTEGER" property="undertakingsituation" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    projectdepartmentundertake.id, undertakingUserId, undertakingOpinions, undertakingSituation, projectdepartmentundertake.createTime
  </sql>

  <sql id="user">
    user.id as 'user.id',
    user.username as 'user.username',
    user.password as 'user.password',
    user.name as 'user.name',
    user.sex as 'user.sex',
    user.department as 'user.department',
    user.role as 'user.role',
    user.hiredate as 'user.hiredate',
    user.contactway as 'user.contactway',
    user.weChat as 'user.weChat',
    user.email as 'user.email',
    user.officelocation as 'user.officelocation',
    user.imgUrl as 'user.imgUrl',
    user.status as 'user.status',
    user.createTime as 'user.createTime',
    user.updateTime as 'user.updateTime'
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="user"/>
    from projectdepartmentundertake
    LEFT JOIN user on projectdepartmentundertake.undertakinguserid = user.id
    where projectdepartmentundertake.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from projectdepartmentundertake
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.eiaproject.domain.ProjectDepartmentUndertake">
    insert into projectdepartmentundertake (id, undertakingUserId, undertakingOpinions, 
      undertakingSituation, createTime)
    values (#{id,jdbcType=INTEGER}, #{undertakinguserid,jdbcType=INTEGER}, #{undertakingopinions,jdbcType=VARCHAR}, 
      #{undertakingsituation,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.eiaproject.domain.ProjectDepartmentUndertake">
    insert into projectdepartmentundertake
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="undertakinguserid != null">
        undertakingUserId,
      </if>
      <if test="undertakingopinions != null">
        undertakingOpinions,
      </if>
      <if test="undertakingsituation != null">
        undertakingSituation,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="undertakinguserid != null">
        #{undertakinguserid,jdbcType=INTEGER},
      </if>
      <if test="undertakingopinions != null">
        #{undertakingopinions,jdbcType=VARCHAR},
      </if>
      <if test="undertakingsituation != null">
        #{undertakingsituation,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.eiaproject.domain.ProjectDepartmentUndertake">
    update projectdepartmentundertake
    <set>
      <if test="undertakinguserid != null">
        undertakingUserId = #{undertakinguserid,jdbcType=INTEGER},
      </if>
      <if test="undertakingopinions != null">
        undertakingOpinions = #{undertakingopinions,jdbcType=VARCHAR},
      </if>
      <if test="undertakingsituation != null">
        undertakingSituation = #{undertakingsituation,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.eiaproject.domain.ProjectDepartmentUndertake">
    update projectdepartmentundertake
    set undertakingUserId = #{undertakinguserid,jdbcType=INTEGER},
      undertakingOpinions = #{undertakingopinions,jdbcType=VARCHAR},
      undertakingSituation = #{undertakingsituation,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>